allow hal_allocator_default sysfs:file { getattr open read };
allow hal_allocator_default sysfs_cpuinfo:dir search;
allow hal_allocator_default sysfs_cpuinfo:file { getattr open read };
allow hal_allocator_default glgps_exec:file read;
allow hal_allocator_default glgps_exec:file getattr;