allow storaged sysfs_cpuinfo:dir search;
allow storaged sysfs_cpuinfo:file { getattr open read };
allow storaged sysfs_mmc:dir search;
allow storaged sysfs_mmc:file { getattr open read };
allow storaged debugfs:file getattr;
allow storaged debugfs:file read;
allow storaged glgps_exec:file read;
allow storaged glgps_exec:file getattr;