allow toolbox system_suspend:file r_file_perms;
allow toolbox system_suspend:dir r_dir_perms;
allow toolbox hal_allocator_default:file r_file_perms;
allow toolbox updater_app:file r_file_perms;
allow toolbox storaged:file r_file_perms;
allow toolbox adbroot:file r_file_perms;
allow toolbox bluetooth:file r_file_perms;
allow toolbox network_stack:file r_file_perms;
allow toolbox permissioncontroller_app:file r_file_perms;
allow toolbox secure_element:file r_file_perms;
allow toolbox webview_zygote:file r_file_perms;
allow toolbox mediaprovider_app:file r_file_perms;
allow toolbox system_data_root_file:dir w_dir_perms;
allow toolbox system_data_root_file:file create_file_perms;
allow toolbox device_as_webcam:file r_file_perms;

