allow untrusted_app_27 aconfigd_exec:file r_file_perms;
allow untrusted_app_27 atrace_exec:file r_file_perms;
allow untrusted_app_27 audioserver_exec:file r_file_perms;
allow untrusted_app_27 auditctl_exec:file r_file_perms;
allow untrusted_app_27 blank_screen_exec:file r_file_perms;
allow untrusted_app_27 blkid_exec:file r_file_perms;
allow untrusted_app_27 bootanim_exec:file r_file_perms;
allow untrusted_app_27 bootstat_exec:file r_file_perms;
allow untrusted_app_27 boringssl_self_test_exec:file r_file_perms;
allow untrusted_app_27 bpfloader_exec:file r_file_perms;
allow untrusted_app_27 charger_exec:file r_file_perms;
allow untrusted_app_27 credstore_exec:file r_file_perms;
allow untrusted_app_27 dmesgd_exec:file r_file_perms;
allow untrusted_app_27 dnsmasq_exec:file r_file_perms;
allow untrusted_app_27 drmserver_exec:file r_file_perms;
allow untrusted_app_27 dumpstate_exec:file r_file_perms;
allow untrusted_app_27 fsck_exec:file r_file_perms;