allow vendor_init firmware_exynos:dir { getattr search };
allow vendor_init camera_data_file:file open;
allow vendor_init device:file write;
allow vendor_init proc:file write;
allow vendor_init system_data_file:file open;
allow vendor_init wifi_data_file:file open;
allow vendor_init wpa_socket:dir getattr;
allow vendor_init camera_data_file:file create;
allow vendor_init firmware_exynos:dir create;
allow vendor_init system_data_file:dir { create write };
allow vendor_init system_data_file:file create;
allow vendor_init wifi_data_file:file create;
allow vendor_init firmware_exynos:dir setattr;